[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

body {
    background-color: var(--background);
    color: var(--color);
}

.select {
    width: 150px;
    height: 30px;
    padding: 0 15px;
    text-transform: capitalize;
    background-color: transparent;
    color: var(--color);

    option {
        color: var(--color);
        background-color: var(--background);
    }
}
