.App {
    --header_height: 60px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
    background-color: white;
}

.hw {
    display: flex;
    flex-direction: column;

    padding: 24px 70px;
    margin: 0 auto;
    width: 1280px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hw1messagewrapper {
    display: flex;
    flex-direction: column;
}

.hwTitle {
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 10px;

    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}