/* .container {
} */

.wrapper {
    display: flex;
    width: auto;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin: 0 10px;

    font-weight: bold;
}
